.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   background-color: aliceblue;
   border: ridge;
   border-width:12px;
}

